$debug-vertical-rhythm = true
@import "typerule.styl"

set-rhythm()

// body
//   box-sizing: border-box

// @import "typesettings/_settings.styl"
// @import "typesettings/_internal.styl"
// @import "typesettings/_functions.styl"
// @import "typesettings/_mixins.styl"

// body
//   debug-vertical-alignment()
