button,
input[type="button"]
input[type="reset"]
input[type="submit"]
  // adjust-font-size-to($base-font-size - 2)
  rhythm-borders(1px, .25, solid lighten(#000, 60%))
  // padding: 0 rem(20px)
  // margin: 0
  // text-align: center
  // text-decoration: none
  // user-select: none
  // vertical-align: bottom
  // cursor: pointer
  // height: rem($base-line-height)

  // &:focus
  //  outline none
  //  box-shadow 0 0 4px aqua
